<html>
<ul style="font-family: Rockwell; font-style: italic">
    <li style="color: darkred">Birds needs gravity to swallow.</li>
    <li style="color: darkblue">8% of people have an extra rib.</li>
    <li style="color: forestgreen">Lemons contain more sugar than Strawberries.</li>
    <li style="color: darkgoldenrod">An Ostrich's eye is bigger than its brain.</li>
    <li style="color: slategray">The average person falls asleep in 7 minutes.</li>
</ul>
<i style="float: right; color: darkgray">...GET DEVELOPED</i>
<br>
</html>